## General Files
*.ini
*.hprof
changelog.template
CHANGELOG_GENERATED.md
PLANNED_FEATURES.md
TOOL_STATISTICS.md

## General Folders
build
run
src/api
src/test

## Eclipse
eclipse
.metadata
.classpath
.project
bin

## ForgeGradle
run
*.launch

## GEdit
*~

## Gradle
.gradle
gradle
gradle.properties
gradlew
gradlew.bat
build.gradle

## IntelliJ Idea
atlassian-ide-plugin.xml
out
.idea
*.iml
*.ipr
*.iws